@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    background-image: url(img/interior.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(226, 11, 11, 0.507);
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 40px 0 54px;
}

.section-products .header {
    margin-bottom: 20px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 3.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(0deg);
}

.section-products #product-1 .part-1::before {
    background: url(img/01.jpg) no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url(img/04.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url(img/03.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url(img/07.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url(img/dormitorio.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url(img/06.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url(img/02.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url(img/xd.jpg) no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #ff0000b8;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1.4rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1.4rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-link {
    display: inline-block;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 32px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #ff3333; /* Cambia el color al pasar el cursor sobre el botón */
}

/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

/* Estilos para el botón de cierre ('x') */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}